/* Reset básico */

@font-face {
    font-family: "Nexa";
    src: url('../assets/nexa/Nexa-ExtraLight.ttf') format('truetype');
    font-weight: 300;
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
  }

html {
  scroll-behavior: smooth;
}

section, div {
  opacity: 1; /* Conteúdo permanece visível */
  transform: translateY(0); /* Sem deslocamento inicial */
  transition: opacity 0.6s ease, transform 0.6s ease; /* Suavidade na entrada */
}

/* Animação suave na entrada */
section, div {
  animation: fadeInUp 0.6s ease forwards;
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.scanner {
    font-family: 'Nexa', sans-serif; /* Usar Nexa como fonte padrão */
    background: url('../assets/sourceScanner/sourceScanner/Scanner.png');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    margin-top: 120px;
    margin-left: 50px;
    padding: 2%;
    width: 72%;
    display: flex;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
    padding: 3.3%;
    height: 650px;
}

.form-busca {
    height: 25%;
    margin-top: 3px;
}

.busca {
    height: 25%;
    width: 100%;
    margin-left: 10px;
    border-radius: 50px;
    border-style: none;
    font-size: 24px;
    color: #324a84;
    font-family: "Nexa", sans-serif;
    font-weight: 700;
    text-align: center;
}

.busca:focus {
    outline: none; /* Remove o contorno padrão */
    border: none; /* Remove a borda */
}

.form-result {
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.input {
    width: 100%;
    height: 30%;
    display: flex;
    padding: 2%;
    align-items: flex-end;
}


.p-info {
    font-size: 23px;
    font-family: "Nexa", sans-serif;
    font-weight: 700;
}





