/* Reset básico */

@import url('https://fonts.cdnfonts.com/css/nexa-bold');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* TELA DE APRESENTAÇÃO */
.apresentacao {
    font-family: 'Nexa', sans-serif; /* Usar Nexa como fonte padrão */
    background: url('../assets/pagina-inicial/Fundo.png') no-repeat center center/cover;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .logo img {
    width: 80px;
    margin-left: 20px;
  }
  
  .nav-links {
    margin-left: 30%;
    display: flex;
    list-style: none;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(221, 221, 221);
    position: fixed;
    z-index: 1000;
  }
  
  .nav-links li {
    border-right: 3px solid #324a84;
    padding: 0px 10px;
  }

  .nav-links :last-child {
    border-style: none;
  }
  
  .nav-links a {
    font-family: 'Nexa-bold', sans-serif; 
    font-size: 22px;
    color: #324a84;
    text-decoration: none;
    font-weight: 700;
    width: 100%;
  }
  
  .social-icons img {
    width: 50px;
    margin-left: 30px;
  }


  .social-icons :last-child {
    margin-right: 10px;
  }

  .social-icons img:hover {
    transform: scale(1.1);
  }
  
  .hero {
    height: 80vh;
    display: flex;
    align-items: center;
}
  
  .hero-text img {
    max-width: 1100px;
    margin-left: 20px;
  }
/* FIM DA TELA DE APRESENTAÇÃO */

/* Scanner Button */
.scanner-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #324a84;
  border-radius: 50px;
  border: none;
  padding: 10px 20px; /* Aumentado para proporcionar mais espaço */
  font-family: 'Nexa', sans-serif;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Certifique-se de que o botão esteja sobre os outros elementos */
  background-color: #fff;
  font-size: 20px; /* Reduzido para melhorar o ajuste */
  font-weight: 700;
  transition: transform 0.2s ease; /* Efeito de transição */
  z-index: 1000;
}

.scanner-btn:hover {
  transform: scale(1.05); /* Aumenta levemente ao passar o mouse */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.scanner-btn img {
    width: 52px;
    height: 52px;
}

.info-projetos {
  width: 100vw;
  font-family: 'Nexa', sans-serif; /* Usar Nexa como fonte padrão */
  background: url('../assets/sources/sources/Background.png') no-repeat center center/cover;
}

.titulo-info {
  width: 100vw;
  height: 10%;
  display: flex;
  justify-content: center;
}

.titulo-info-texto {
  font-family: "Nexa", sans-serif;
  color: #324a84;
  margin-top: 20px;
}

.container-card-info {
  margin-top: 20px;
  width: 100vw;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
}

.card-info {
  border-top: 2px solid #324a84;
  width: 22%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.card-info-num {
  font-size: 100px;
  font-family: "Nexa-bold", sans-serif;
  font-weight: 700;
  color: #324a84;
}

.card-info-txt {
  font-size: 40px;
  font-family: "Nexa-bold", sans-serif;
  font-weight: 700;
  color: #324a84;
  margin-bottom: 20px;
}

.card-quemSomos {
  margin-top: 100px;
  width: 100vw;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-card-quemSomos {
  width: 60%;
}

.btn {
  width: 50%;
  height: 50%;
  position: absolute;
  display: flex;
  align-items: end;
}

.btn-saibaMais {
  padding: 10px 30px;
  background-color: #324a84;
  color: #fff;
  font-family: "Nexa-bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  border-style: none;
  letter-spacing: 1px;
}

.img-logo-btn {
  width: 35px;
  margin-left: 10px;
}

.btn-saibaMais:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* FIM DA TELA QUEM SOMOS */

.servicos {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: 'Nexa', sans-serif; /* Usar Nexa como fonte padrão */
}

.img-servicos {
  height: 60%;
}

.btn-servicos {
  width: 100vw;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.btn-iniciarProjeto {
  padding: 10px 30px;
  border-radius: 50px;
  background-color: #324a84;
  color: #fff;
  font-family: "Nexa-bold", sans-serif;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  border-style: none;
}

.btn-iniciarProjeto:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.fale-conosco {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-faleConosco {
  height: 85%;
}

.container-form {
  width: 65%;
  height: 55%;
  position: absolute;
  align-items: center;
  display: flex;
}

.form {
  width: 51.5%;
  height: 83%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

.input-form-faleConosco {
  border-radius: 50px;
  background-color: #fff;
  width: 100%;
  border-style: none;
  height: 11%;
  padding: 0px 10px;
  color: #324a84;
  font-size: 22px;
  font-family: "Nexa", sans-serif;
  font-weight: 300;
}

.input-form-faleConosco::placeholder {
  color: #324a84;
  font-size: 22px;
  font-family: "Nexa", sans-serif;
  font-weight: 300;
}

.txt-form-faleConosco {
  background-color: #fff;
  border-radius: 50px;
  border-style: none;
  height: 45%;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  color: #324a84;
  font-family: "Nexa", sans-serif;
  font-weight: 300;
  resize: none;
}


.btn-form-faleConosco {
  background-color: #fff;
  border-radius: 50px;
  border-style: none;
  height: 9%;
  width: 30%;
  color: #324a84;
  font-family: "Nexa", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.btn-form-faleConosco:hover {
  transform: scale(1.1);
}

footer {
  background-color: #fff;
  color: #111;
  padding: 40px 0px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  padding: 20px;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #324a84;
  border-bottom: 2px solid #324a84; 
  display: inline-block; 
  padding-bottom: 2px; 
}

.footer-section p, .footer-section ul, .footer-section a {
  color: #324a84;
  font-size: 0.9rem;
  line-height: 1.6;
}

.footer-section a {
  text-decoration: none;
  color: #324a84;
}

.footer-section a:hover {
  color: #283b68;
}

.logo-footer {
  max-width: 150px;
  margin-bottom: 20px;
  margin-left: 25px;
  filter: brightness(0) saturate(100%) invert(29%) sepia(33%) saturate(1935%) hue-rotate(207deg) brightness(81%) contrast(97%);
}

.social-icons-footer img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.social-icons a {
  display: inline-block;
}

ul {
  list-style: none;
}

.footer-section p {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.icon-footer {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.footer-bottom {
  padding: 10px;
  text-align: center;
  font-size: 0.8rem;
  color: #777;
  margin-top: 20px;
  width: 100%;
}