/* Reset básico */

@font-face {
  font-family: "Nexa";
  src: url('../assets/nexa/Nexa-ExtraLight.ttf') format('truetype');
  font-weight: 300; /* Peso ExtraLight */
  font-style: normal;
}

@font-face {
  font-family: "Nexa";
  src: url('../assets/nexa/Nexa-Heavy.ttf') format('truetype'); /* Certifique-se de que o caminho e o nome do arquivo estejam corretos */
  font-weight: 700; /* Peso Bold */
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-size: 1rem; /* Base de cálculo para rem */
}

html {
  scroll-behavior: smooth; /* Ativa a rolagem suave em toda a página */
}

/* TELA DE APRESENTAÇÃO */
.apresentacao {
  background: url('../assets/pagina-inicial/Fundo.png') no-repeat center center/cover;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem; /* 20px convertidos */
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo img {
  width: 5rem; /* 80px convertidos */
  margin-left: 1.25rem; /* 20px convertidos */
}

.nav-links {
  margin-left: 30%;
  display: flex;
  list-style: none;
  background-color: #fff;
  padding: 0.625rem 1.25rem; /* 10px 20px convertidos */
  border-radius: 3.125rem; /* 50px convertidos */
  box-shadow: 0 0 0.625rem rgba(221, 221, 221, 1); /* 10px convertidos */
  position: fixed;
  z-index: 1000;
}

.nav-links li {
  border-right: 0.0625rem solid #324a84; /* 1px convertidos */
  padding: 0 0.625rem; /* 10px convertidos */
}

.nav-links :last-child {
  border-style: none;
}

.nav-links a {
  font-family: "Nexa", sans-serif; 
  font-size: 1.375rem; /* 22px convertidos */
  color: #324a84;
  text-decoration: none;
  font-weight: 700;
  width: 100%;
}

.social-icons img {
  width: 3.125rem; /* 50px convertidos */
  margin-left: 1.875rem; /* 30px convertidos */
}

.social-icons :last-child {
  margin-right: 0.625rem; /* 10px convertidos */
}

.social-icons img:hover {
  transform: scale(1.1);
}

.hero {
  height: 80vh;
  display: flex;
  align-items: center;
}

.hero-text img {
  max-width: 68.75rem; /* 1100px convertidos */
  margin-left: 1.25rem; /* 20px convertidos */
}
/* FIM DA TELA DE APRESENTAÇÃO */

/* Scanner Button */
.scanner-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #324a84;
  border-radius: 3.125rem; /* 50px convertidos */
  border: none;
  padding: 0.625rem 1.25rem; /* 10px 20px convertidos */
  font-family: 'Nexa', sans-serif;
  cursor: pointer;
  position: fixed;
  bottom: 1.25rem; /* 20px convertidos */
  right: 1.25rem; /* 20px convertidos */
  z-index: 1000;
  background-color: #fff;
  font-size: 1.25rem; /* 20px convertidos */
  font-weight: 700;
  transition: transform 0.2s ease;
  z-index: 1000;
  box-shadow: 0 0.375rem 0.625rem rgba(0, 0, 0, 0.2); /* 6px 10px convertidos */
}

.scanner-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0.375rem 0.625rem rgba(0, 0, 0, 0.2); /* 6px 10px convertidos */
}

.scanner-btn img {
  width: 3.25rem; /* 52px convertidos */
  height: 3.25rem; /* 52px convertidos */
}

.info-projetos {
  width: 100vw;
  font-family: 'Nexa', sans-serif;
  background: url('../assets/sources/sources/Background.png') no-repeat center center/cover;
}

.titulo-info {
  width: 100vw;
  height: 10%;
  display: flex;
  justify-content: center;
}

.titulo-info-texto {
  font-family: "Nexa", sans-serif;
  font-weight: 700;
  color: #324a84;
  margin-top: 1.25rem; /* 20px convertidos */
}

.container-card-info {
  margin-top: 1.25rem; /* 20px convertidos */
  width: 100vw;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
}

.card-info {
  border-top: 0.125rem solid #324a84; /* 2px convertidos */
  width: 22%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0.3125rem 0.9375rem; /* 5px 15px convertidos */
}

.card-info-num {
  font-size: 6.25rem; /* 100px convertidos */
  font-family: "Nexa", sans-serif;
  font-weight: 700;
  color: #324a84;
}

.card-info-txt {
  font-size: 2.5rem; /* 40px convertidos */
  font-family: "Nexa", sans-serif;
  font-weight: 700;
  color: #324a84;
  margin-bottom: 1.25rem; /* 20px convertidos */
}

.card-quemSomos {
  margin-top: 6.25rem; /* 100px convertidos */
  width: 100vw;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-card-quemSomos {
  width: 60%;
}

.btn {
  width: 50%;
  height: 50%;
  position: absolute;
  display: flex;
  align-items: end;
}

.btn-saibaMais {
  padding: 0.625rem 1.875rem; /* 10px 30px convertidos */
  background-color: #324a84;
  color: #fff;
  font-family: "Nexa", sans-serif;
  font-weight: 700;
  font-size: 1.25rem; /* 20px convertidos */
  margin-bottom: 1.875rem; /* 30px convertidos */
  margin-left: 1.25rem; /* 20px convertidos */
  display: flex;
  align-items: center;
  border-style: none;
  letter-spacing: 0.0625rem; /* 1px convertido */
}

.img-logo-btn {
  width: 2.1875rem; /* 35px convertidos */
  margin-left: 0.625rem; /* 10px convertidos */
}

.btn-saibaMais:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0.375rem 0.625rem rgba(0, 0, 0, 0.2); /* 6px 10px convertidos */
}

/* FIM DA TELA QUEM SOMOS */

.servicos {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: 'Nexa', sans-serif; /* Usar Nexa como fonte padrão */
  font-weight: 700;
}

.img-servicos {
  height: 50%;
}

.btn-servicos {
  width: 100vw;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.75rem; /* 60px convertidos */
}

.btn-iniciarProjeto {
  padding: 0.625rem 1.875rem; /* 10px 30px convertidos */
  border-radius: 3.125rem; /* 50px convertidos */
  background-color: #324a84;
  color: #fff;
  font-family: "Nexa", sans-serif;
  font-weight: 700;
  font-size: 1.5625rem; /* 25px convertidos */
  letter-spacing: 0.0625rem; /* 1px convertido */
  margin-bottom: 1.875rem; /* 30px convertidos */
  margin-left: 1.25rem; /* 20px convertidos */
  display: flex;
  align-items: center;
  border-style: none;
}

.btn-iniciarProjeto:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0.375rem 0.625rem rgba(0, 0, 0, 0.2); /* 6px 10px convertidos */
}

.fale-conosco {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-faleConosco {
  height: 75%;
}

.container-form {
  width: 60%;
  height: 55%;
  position: absolute;
  align-items: center;
  display: flex;
}

.form {
  width: 53%;
  height: 83%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2.5rem; /* 40px convertidos */
  padding: 2%;
}

.input-form-faleConosco {
  border-radius: 3.125rem; /* 50px convertidos */
  background-color: #fff;
  width: 100%;
  border-style: none;
  height: 9%;
  padding: 0 0.625rem; /* 10px convertidos */
  color: #324a84;
  font-size: 1.375rem; /* 22px convertidos */
  font-family: "Nexa", sans-serif;
  font-weight: 300;
}

.input-form-faleConosco::placeholder {
  color: #324a84;
  font-size: 1.375rem; /* 22px convertidos */
  font-family: "Nexa", sans-serif;
  font-weight: 300;
}

.txt-form-faleConosco {
  background-color: #fff;
  border-radius: 3.125rem; /* 50px convertidos */
  border-style: none;
  height: 45%;
  width: 100%;
  padding: 1.25rem; /* 20px convertidos */
  font-size: 1.125rem; /* 18px convertidos */
  color: #324a84;
  font-family: "Nexa", sans-serif;
  font-weight: 300;
  resize: none;
}

.btn-form-faleConosco {
  background-color: #fff;
  border-radius: 3.125rem; /* 50px convertidos */
  border-style: none;
  height: 9%;
  width: 30%;
  color: #324a84;
  font-family: "Nexa", sans-serif;
  font-size: 1.5rem; /* 24px convertidos */
  font-weight: 300;
}

.btn-form-faleConosco:hover {
  transform: scale(1.1);
}

footer {
  background-color: #fff;
  color: #111;
  padding: 40px 0px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  padding: 20px;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #324a84;
  border-bottom: 2px solid #324a84; 
  display: inline-block; 
  padding-bottom: 2px; 
}

.footer-section p, .footer-section ul, .footer-section a {
  color: #324a84;
  font-size: 0.9rem;
  line-height: 1.6;
}

.footer-section a {
  text-decoration: none;
  color: #324a84;
}

.footer-section a:hover {
  color: #283b68;
}

.logo-footer {
  max-width: 150px;
  margin-bottom: 20px;
  margin-left: 25px;
  filter: brightness(0) saturate(100%) invert(29%) sepia(33%) saturate(1935%) hue-rotate(207deg) brightness(81%) contrast(97%);
}

.social-icons-footer img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.social-icons a {
  display: inline-block;
}

ul {
  list-style: none;
}

.footer-section p {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.icon-footer {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.footer-bottom {
  padding: 10px;
  text-align: center;
  font-size: 0.8rem;
  color: #777;
  margin-top: 20px;
  width: 100%;
}